{% sw_extends '@Framework/documents/base.html.twig' %}

{% block footer %}
    {% if config.displayFooter %}
        <footer>
            <h3>Hello world!</h3>
        </footer>
    {% endif %}
{% endblock %}
